p {
    min-height: 120px;
}
.input-group {
    justify-content: flex-end;
    margin-bottom: .5em !important;
}
.btn {
    border-radius: 0;
    margin-right: .5em;
    width: 100px;
}
.custom_tablist{
    background: #1C1F22; 
}
.nav-pills .nav-link {
    margin-left: 0px;
    color: #a5a9ad;
}
.nav-pills .nav-link.active, .nav-pills {
    padding: 10px 20px;
}
.custom_tablist {
    background: #fff;
    padding: 10px 0px;
}
.nav-pills .nav-link{
    color: #525252;
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-radius: 0;
}

.nav-pills .nav-item:last-child .nav-link{
    border-bottom: 1px solid #e8e8e8;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #37a000;
    background-color: #fff;
    box-shadow: none;
}
.nav-pills .nav-link.active{
    padding: 8px 18px;
}
.custom_btn{
    width: 40px;
    padding: 2px;
}

.table td, .table th {
    padding: 0px 10px;
    line-height: 32px;
}
.pl-40{
    padding-left: 40px !important;
}
.img_border img{
    margin-top: 10px;
    border: 2px solid #ddd;
    padding: 2px;
    width: 30%;
}
.d-inlineblock{
    display: inline-block;
}
.bg-margin-10-20{
    background: #F4F4F5; margin: 10px 20px 0px 0px;
}
.preloader_cls{
    margin-top: 4px; display: none;
}
.invalidurl_cls{
    margin-top: 4px; color: red; display: none;
}
.m-t-0{
    margin-top: 0;
}
.f-s-12{
    font-size: 12px;
}
.m-r{
    margin-right: 5px !important;
}
.m-l-20{
    margin-left: 20px;
}
.m-l-10{
    margin-left: 10px;
}